
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #4ADE80;
    --color-secondary: #171717;
    --gradient-primary: linear-gradient(180deg, #6ECD8B 0%, #57DA7F 100%);
  }
}

.farming-item:hover .check-hover {
  display: flex;
}